.social {
    position: relative;
    width: 100%;
    height: 430px;
    background: linear-gradient(0deg, #f2dfd1, rgb(243, 210, 183));
    overflow: hidden;
    margin-top: 10px;
}

.social::before {
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    background: linear-gradient(180deg, rgb(0, 0, 0, .1), #f2ddce);
    border-radius: 50%;
    bottom: 0;
    left: -50px;
}

.social::after {
    position: absolute;
    content: '';
    width: 250px;
    height: 250px;
    border: 40px solid rgb(0, 0, 0, .2);
    border-radius: 50%;
    top: -35%;
    right: -8%;
}

.social .social-main {
    position: relative;
    width: 80%;
    height: 100%;
    /* border: 1px solid #000; */
    margin: auto;
    display: flex
}

.social-main .social-box,
.social-video_box {
    position: relative;
    width: 47%;
    height: 75%;
    /* border: 1px solid #000; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-main .social-box::before {
    position: absolute;
    content: 'SOCIAL';
    width: 200px;
    height: 50px;
    color: rgb(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 40px;
    top: -45px;
}

.social-main .social-video_box::before {
    position: absolute;
    content: 'VIDEO';
    width: 200px;
    height: 50px;
    color: rgb(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 40px;
    top: -45px;
}

.social-main .social-box .twitter {
    position: relative;
    width: 260px;
    height: 80px;
    background: #fff;
    border-radius: 20px 10px 10px 10px;
    padding-left: 50px;
    margin-right: 20px;
}

.social-main .social-box .twitter img {
    position: absolute;
    width: 35px;
    padding: 2px;
    background: #21b6fc;
    border-radius: 50%;
    box-shadow: 0px 8px 8px #d0edfa, 8px 0px 8px #d0edfa;
    left: 0;
}

.social-main .social-box .twitter h3 {
    font-size: 15px;
    padding: 10px 0px 5px 0px;
}

.social-main .social-box .twitter p {
    font-size: 11px;
    padding-right: 15px;
    color: #585858;
}

.social-main .social-box .twitter p span {
    color: #50bffb;
}

.social-main .social-box .facebook {
    position: relative;
    width: 160px;
    height: 170px;
    background: #fff;
    border-radius: 20px 10px 10px 10px;
    box-shadow: 0px 7px 12px #ffdfbd;
    margin-right: 20px;
}

.social-main .social-box .facebook img {
    position: absolute;
    width: 32px;
    padding: 8px;
    background: #2e86de;
    border-radius: 50%;
    box-shadow: 0px 8px 8px #bedcfb, 8px 0px 8px #bedcfb;
    left: 0;
}

.social-main .social-box .facebook img {
    position: absolute;
    width: 32px;
    padding: 8px;
    background: #2e86de;
    border-radius: 50%;
    box-shadow: 0px 8px 8px #bedcfb, 8px 0px 8px #bedcfb;
    left: 0;
}

.social-main .social-box .facebook .insta {
    background: #ee5353;
    box-shadow: 0px 8px 8px #fccccc, 8px 0px 8px #fccccc;
}

.social-main .social-box .facebook h3 {
    font-size: 14px;
    padding: 8px 0px 10px 50px;
}

.social-main .social-box .facebook p {
    font-size: 14px;
    padding: 10px 10px 10px 25px;
    color: #585858;
}

.social-main .social-box .facebook p span {
    color: #50bffb;
}

.social-main .social-box .facebook .img_box_insta {
    width: 120px;
    height: 110px;
    border-radius: 0;
    background-color: none;
    padding: 0;
    box-shadow: unset;
    margin: 50px 10px 0px 22px;
}

.social-main .social-box .facebook .date_box {
    position: absolute;
    width: 110px;
    height: 30px;
    bottom: 10px;
    left: 22px;
    background: rgb(185, 185, 185, 0.1);
    backdrop-filter: blur(5px);
}

.social-main .social-box .facebook h6 {
    color: #fff;
    text-align: center;
    padding: 4px 0px;
    line-height: 12px;
}

.social-main .social-box .facebook h6 span {
    color: #50bffb;
}

.social-main .social-box .social_dots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-main .social-box .social_dots h2 {
    width: 15px;
    height: 6px;
    border-radius: 10px;
    background: #bedcfb;
    margin-right: 5px;
}

.social-main .social-box .social_dots h2:nth-child(1) {
    width: 20px;
    height: 10px;
    background: #50bffb;
}

.social .social-main .social-video_box .video {
    position: relative;
    width: 600px;
    height: 265px;
    border: 8px solid #fff;
    margin-left: 10px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .social-main .social-video_box .video .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.social .social-main .social-video_box .video .play {
    position: absolute;
    width: 100px;
    cursor: pointer;
}

.social .social-main .social-video_box .video .pause {
    width: 100px;
    position: absolute;
    display: none;
    cursor: pointer;
}


